//! ---- Possible colors --- //
// Body
$body-bg: #1e1e1e;
// Header
$header-bg: rgb(0, 105, 92); // rgb(40, 58, 67)
$header-shadow: #189485;
$title-font-color: rgb(255, 157, 92);
$menu-items-color: scale-color($header-bg, $lightness: -40%);
// Boxes
$box-font-color: rgb(255, 157, 92);
//! ------------------------ //

body {
  background: $body-bg;
}
