/* @font-face {
    font-family: 'Overpass';
    src: url('fonts/font-piworker/Overpass-Bold.ttf');
} */

body {
    /* font-size: 16px; */
    background: #1E1E1E;
    /* justify-content: center;
    align-items: center; */
    /* display: flex; */
}

header {
    /* position: relative; */
    /* top: 0px; */
    /* background: #00695c; */
    background: rgba(0,105,92,1);
    background: -moz-linear-gradient(
        top, rgba(0,105,92,1) 0%, rgba(45,140,127,1) 64%, rgba(100,158,150,1) 100%);
    background: -webkit-gradient(
        left top, left bottom, color-stop(0%, rgba(0,105,92,1)), color-stop(64%, rgba(45,140,127,1)), color-stop(100%, rgba(100,158,150,1)));
    background: -webkit-linear-gradient(
        top, rgba(0,105,92,1) 0%, rgba(45,140,127,1) 64%, rgba(100,158,150,1) 100%);
    background: -o-linear-gradient(
        top, rgba(0,105,92,1) 0%, rgba(45,140,127,1) 64%, rgba(100,158,150,1) 100%);
    background: -ms-linear-gradient(
        top, rgba(0,105,92,1) 0%, rgba(45,140,127,1) 64%, rgba(100,158,150,1) 100%);
    background: linear-gradient(
        to bottom, rgba(0,105,92,1) 0%, rgba(45,140,127,1) 64%, rgba(100,158,150,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00695c', endColorstr='#649e96', GradientType=0 );
    width: 100%;
    /* text-align: center; */
    /* display: inline; */
    box-shadow: 0px 0px 5px 0px #189485;
}

header h1 {
    /* padding: 10px; */
    /* width: 100%; */
    /* font-family: 'Overpass'; */
    /* font-size: 3em; */
    /* font-weight: bolder; */
    /* border: 1px solid green; */
}

nav {
    /* width: 100%;
    position: relative;
    text-align: center; */
}   

nav ul {
    /* padding: 0px;
    margin: 0px; */
    list-style: none;
}

li {
    display: inline-block;
    margin: 0px 10px;
    padding: 10px;
    font-size: 1.3em;
    transition-duration: 1s;
    border-radius: 8px;
}

/* li:hover {
    background: #26a69a; 
    box-shadow: -10px -10px -10px -10px #26a69a; 
    text-shadow: 2px 2px 2px #26a69a;
    font-size: 1.8em;
} */

li a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    padding: 5px 10px;
}

li:nth-of-type(1) a:focus {
    border-bottom: 3px solid rgb(65, 175, 71)
}

li:nth-of-type(2) a:focus {
    border-bottom: 3px solid rgb(109, 71, 172)
}

li:nth-of-type(3) a:focus {
    border-bottom: 3px solid rgb(179, 112, 51)
}

.box {
    /* width: 250px;
    height: 350px; */
    /* position: relative; */
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    /* margin: 41px 10px 0px 10px; */
    display: flex;
}

.bottom-box {
    background: gray;
    /* padding: 10px 10px; */
    width: 200px;
    height: 200px;
    /* justify-content: center; */
    align-items: center;
    /* display: flex; */
    border-radius: 15px;
    opacity: 0.1;
    transition-duration: 1s;
    position: relative;
}

.top-box {
    background: #4895D9;
    border-radius: 15px;
    width: 200px;
    height: 200px;
    /* justify-content: center; */
    opacity: 1;
    position: absolute;
    transition-duration: 0.8s;
    /* z-index: 10; */
}

#number {
    /* margin-top: 50px; */
    /* text-align: center; */
    font-size: 2em;
    color: rgb(179, 179, 179);
    opacity: 1;
}

#title {
    font-size: 20px;
    /* text-align: center; */
    opacity: 1;
}

/*! testing */
/* .top-box {
    animation: goBottom 5s 1 forwards;
}

.bottom-box {
    animation: goFront 5s 1 forwards;
} */

@keyframes goBottom {

    25% {
        -moz-transform: scale(1.2) translateX(-110px);
        transform: scale(1.2) translateX(-110px);
    }

    50% {
        opacity: 1;
    }

    75%,
    100% {
        opacity: 1;
        z-index: 5;
        position: absolute;
    }

}

@keyframes goFront {

    25% {
        -moz-transform: scale(1.2) translateX(110px);
        transform: scale(1.2) translateX(110px);
    }

    50% {
        opacity: 1;
    }

    75%,
    100% {
        z-index: 10;
        position: absolute;
        opacity: 1
    }
}